services:
  frontend:
    build: 
      context: ./hmlio_FE
      dockerfile: Dockerfile
    container_name: vue_app
    ports:
      - 3000:80
    env_file:
      - ./hmlio_FE/.env
    depends_on:
      - web

  web:
    build: .
    container_name: django_app
    ports:
     - 8000:8000
    volumes:
      - ./hmlio_BE:/app
    depends_on:
      database:
        condition: service_healthy
        restart: true
    env_file:
      - .env

  database:
    image: postgres:latest
    container_name: postgres_db
    volumes:
      - postgres_db:/var/lib/postgresql/
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s

  redis:
    image: redis:latest
    container_name: redis
    restart: always
    ports:
      - '6379:6379'
    command: redis-server --save 60 1 --loglevel warning

  celery_worker:
    build: .
    container_name: celery_worker
    command: celery -A config.celery worker --loglevel=info
    volumes:
      - ./hmlio_BE:/app
    depends_on:
      - redis
      - database
      - web
    env_file:
      - .env

  celery_beat:
    build: .
    container_name: celery_beat
    command: celery -A config.celery beat --loglevel=info
    volumes:
      - ./hmlio_BE:/app
    depends_on:
      - redis
      - database
      - web
    env_file:
      - .env

volumes:
  postgres_db: