services:
  frontend:
    build: ./hmlio_FE
    container_name: vue_app
    ports:
      - 3000:80
    depends_on:
      - web

  web:
    build: .
    container_name: django_app
    ports:
     - 8000:8000
    volumes:
      - ./hmlio_BE:/app
    depends_on:
      database:
        condition: service_healthy
        restart: true
    env_file:
      - .env

  database:
    image: postgres:latest
    container_name: postgres_db
    volumes:
      - postgres_db:/var/lib/postgresql/data/
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s


volumes:
  postgres_db: